<!-- <nb-card>
    <nb-card-body>
      <h3>Adicionar e Remover Pipes</h3>
      <div>
        <button nbButton (click)="addPipe('straight')">Adicionar Pipe Reto</button>
        <button nbButton (click)="addPipe('curve')">Adicionar Pipe Curvo</button>
      </div>
      <div style="margin: 10px 0;">
        <span>Coordenadas Selecionadas: ({{ selectedX }}, {{ selectedY }})</span>
      </div>
  
      <div style="display: grid; grid-template-columns: repeat(10, 50px); gap: 2px;">
        @for (let y = 0; y < gridSize; y++) {
          @for (let x = 0; x < gridSize; x++) {
            <div
              (click)="setSelectedCoordinates(x, y)"
              [style.border]="selectedX === x && selectedY === y ? '2px solid red' : '1px solid black'"
              style="width: 50px; height: 50px; background-color: lightgray; cursor: pointer; position: relative;"
            >
              @if (grid[y][x]) {
                <div
                  [style.backgroundColor]="grid[y][x].type === 'straight' ? 'blue' : 'green'"
                  style="width: 100%; height: 100%;"
                ></div>
                <button
                  (click)="removePipe(x, y)"
                  style="position: absolute; top: 0; right: 0; font-size: 10px;"
                >
                  ✖
                </button>
              }
            </div>
          }
        }
      </div>
  
      <h3>Visualização dos Pipes</h3>
      <svg width="500" height="500" style="border: 1px solid black;">
        @for (let pipe of pipes) {
          @if (pipe.type === 'straight') {
            <rect
              [attr.x]="pipe.position.x * 50"
              [attr.y]="pipe.position.y * 50"
              [attr.width]="50"
              [attr.height]="10"
              [attr.transform]="'rotate(' + pipe.angle + ' ' + (pipe.position.x * 50 + 25) + ' ' + (pipe.position.y * 50 + 5) + ')'"
              fill="blue"
            ></rect>
          }
          @if (pipe.type === 'curve') {
            <circle
              [attr.cx]="pipe.position.x * 50 + 25"
              [attr.cy]="pipe.position.y * 50 + 25"
              [attr.r]="20"
              fill="green"
            ></circle>
          }
        }
      </svg>
    </nb-card-body>
  </nb-card>
   -->