<nb-layout>
  <nb-layout-header fixed>
    <div class="btn-container">
      <button class="btn" [class.btn-selected]="isCurrentRoute('pump-selector')" [routerLink]="['/pump-selector']">Bombas</button>
      <button class="btn" [class.btn-selected]="isCurrentRoute('heat-exchanger')" [routerLink]="['/heat-exchanger']">Calor</button>
      <button class="btn" [class.btn-selected]="isCurrentRoute('pressure-loss')" [routerLink]="['/pressure-loss']">Pressão</button>
    </div>
  </nb-layout-header>
  <nb-layout-column>
    <router-outlet></router-outlet>
    <app-chat></app-chat>
  </nb-layout-column>
  <nb-layout-footer fixed>Footer</nb-layout-footer>
</nb-layout>